= content_for :title do
  KATSOWEB | ページマスター

.top-bar
  .top-bar-left
    = link_to 'KATSUOWEB', admin_home_path, class: "home-link"
  .top-bar-right
    - if @admin_user
      = link_to 'LOGOUT', admin_sign_out_path, method: :delete, class: "logout-link"

.grid-x
  .cell.small-12.medium-6.medium-offset-3
    .page-master
      %h1
        ページマスター

      - if flash[:warning]
        #notice
          = flash[:warning]

      - if @pages
        - @pages.each do |page|
          .card
            .card-divider
              = page.title
            = image_tag page.thumbnail.url, width: "100%", height: "100%"
            .card-section
              .author
                投稿者：
                = page.user.name
              = page.description
              = link_to '削除', admin_page_path(page.id),
                { method: :delete, class: "button expanded",
                  data: { confirm: "本当に削除しますか？" } }
