.password {
  margin: 80px 20px 100px 20px;
  .message {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .submit-button {
    width: 100%;
    color: #dbdce7;
    background-color: #324460;
    padding: 10px 0;
    outline: none;
    margin-top: 20px;
    border-radius: 4px;
    &:hover {
      color: #324460;
      background-color: #dbdce7;
    }
  }
}
