.registered {
  margin: 100px 20px 100px 20px;
  .message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .button {
    color: #dbdce7;
    background-color: #324460;
    padding: 10px 0;
    border-radius: 4px;
    margin-top: 40px;
    &:hover {
      color: #324460;
      background-color: #d4d4d4;
    }
  }
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #dbdce7;
  background-color: #324460;
  padding: 20px 0 20px;
  margin-top: 40px;
}
