.top-bar {
  .top-bar-left {
    color: #dbdce7;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  }
}

.pre {
  text-align: center;
  margin: 20px;
  h1 {
    font-size: 24px;
  }
  .cover {
    margin: -40px 0;
  }
  .pre-body {
    text-align: left;
    font-size: 16px;
    .pre-link {
      text-align: center;
      margin: 30px 0;
    }
    .team {
      text-align: right;
      font-weight: bold;
      margin-top: 30px;
    }
  }
}

// Breakpoints small
@media screen and (max-width: 599px) {
  .pre {
    h1 {
      font-size: 20px;
    }
    .pre-body {
      font-size: 14px;
    }
  }
}
