<%= @user.name %> 様

KATSUOWEBにご登録いただきありがとうございます。
ユーザー登録を完了するために、下記のリンクをクリックしてください。

<%= api_v1_user_activate_url(token: @user.activation_token, email: @user.email) %>

このメールに心当たりがない場合は、メールを破棄して下さい。
このメールは自動送信メールです。このメールに返信されましても、返答することが出来ませんので、あらかじめご了承下さい。
