%div(style="color:#324460; background-color:#dbdce7; padding:20px")
  %h1(style="font-size:20px;")
    KATSUOWEBへのご登録ありがとうございます！
  %hr
  %p
    = @user.name
    様
  %p
    KATSUOWEBにご登録いただきありがとうございます。
    %br
    下記の内容で、ユーザー登録が完了しました。
  %p
    ユーザーネーム：
    = @user.name
    %br
    メールアドレス：
    = @user.email
    %br
    パスワード： （個人情報保護のため非表示）
  %div(style="margin:20px 0 40px 0;")
    = link_to 'KATSUOWEBへようこそ', 'https://katsuoweb.com/about',
      style: "color:#dbdce7; background-color:#324460; padding:10px 20px; text-decoration:none;"
  %hr
  %p(style="margin-top:20px;")
    このメールに心当たりがない場合は、メールを破棄して下さい。
    %br
    このメールは自動送信メールです。このメールに返信されましても、返答することが出来ませんので、あらかじめご了承下さい。
