<%= @user.name %> 様

KATSUOWEBにご登録いただきありがとうございます。
下記の内容で、ユーザー登録が完了しました。

ユーザーネーム：<%= @user.name %>
メールアドレス：<%= @user.email %>
パスワード： （個人情報保護のため非表示）

下記URLよりお進みください。
https://katsuoweb.com/about

このメールに心当たりがない場合は、メールを破棄して下さい。
このメールは自動送信メールです。このメールに返信されましても、返答することが出来ませんので、あらかじめご了承下さい。
