%div(style="color:#324460; background-color:#dbdce7; padding:20px")
  %p
    以下のユーザーがアカウント削除しました。
  %hr
  %p
    %span(style="font-weight:bold;")
      ＊ ユーザー情報 ＊
    %br
    【ユーザーネーム】
    = @user.name
    %br
    【メールアドレス】
    = @user.email
    %br
    【プロフィール】
    = @user.profile
    %br
  %hr
  %p
    %span(style="font-weight:bold;")
      ＊ アカウント削除の理由 ＊
    %br
    【理由】
    = @mail[:reason]
    %br
    【その他のご意見】
    = @mail[:opinion]
    %br
