%div(style="color:#324460; background-color:#dbdce7; padding:20px")
  %p
    以下の通り、問い合わせがありました。
  %hr
  %p
    %span(style="font-weight:bold;")
      ＊ ユーザー情報 ＊
    %br
    【ユーザーネーム】
    = @user.name
    %br
    【メールアドレス】
    = @user.email
    %br
    【プロフィール】
    = @user.profile
    %br
  %hr
  %p
    %span(style="font-weight:bold;")
      ＊ 問い合わせ内容 ＊
    %br
    【件名】
    = @mail[:subject]
    %br
    【本文】
    = @mail[:body]
    %br
