%div(style="color:#324460; background-color:#dbdce7; padding:20px")
  %h1(style="font-size:20px;")
    パスワード再設定
  %hr
  %p
    パスワードを再設定するために、下記のリンクをクリックしてください。
  %div(style="margin:20px 0 40px 0;")
    = link_to 'パスワード再設定', controller: 'api/v1/passwords', action: 'edit',
      format: 'html', token: @user.reset_token, email: @user.email
  %hr
  %p(style="margin-top:20px;")
    このメールに心当たりがない場合は、メールを破棄して下さい。
    %br
    このメールは自動送信メールです。このメールに返信されましても、返答することが出来ませんので、あらかじめご了承下さい。
