パスワードを再設定するために、下記のリンクをクリックしてください。

<%= api_v1_password_reset_url(token: @user.reset_token, email: @user.email) %>

このメールに心当たりがない場合は、メールを破棄して下さい。
このメールは自動送信メールです。このメールに返信されましても、返答することが出来ませんので、あらかじめご了承下さい。
