%div(style="color:#324460; background-color:#dbdce7; padding:20px")
  %h1(style="font-size:20px;")
    パスワードを変更しました。
  %hr
  %p
    = @user.name
    様
  %p
    パスワードの変更が完了しました。
  %div(style="margin:20px 0 40px 0;")
    = link_to 'ログイン', 'https://katsuoweb.com/login',
      style: "color:#dbdce7; background-color:#324460; padding:10px 20px; text-decoration:none;"
  %hr
  %p(style="margin-top:20px;")
    このメールに心当たりがない場合は、メールを破棄して下さい。
    %br
    このメールは自動送信メールです。このメールに返信されましても、返答することが出来ませんので、あらかじめご了承下さい。
