= content_for :title do
  KATSOWEB | 管理者ログイン

.top-bar
  .top-bar-left
    = link_to 'KATSUOWEB', admin_home_path, class: "home-link"
  .top-bar-right
    - if @admin_user
      = link_to 'LOGOUT', admin_sign_out_path, method: :delete, class: "logout-link"

.grid-x
  .cell.small-12.medium-6.medium-offset-3
    .login
      %h1
        管理者ログイン

      %div
        = form_for(:session, url: admin_sign_in_path) do |f|
          = f.label :email
          = f.email_field :email
          %br
          = f.label :password
          = f.password_field :password
          %br
          = f.submit "ログイン", class: "login-button"
          - if flash[:warning]
            #notice
              = flash[:warning]
