= content_for :title do
  プレリリースのご案内 | KATSOWEB

.top-bar
  .top-bar-left
    KATSUOWEB

.grid-x
  .cell.small-12.medium-6.medium-offset-3
    .pre
      %h1
        KATSUOWEB
        %br
        プレリリースのご案内

      .cover
      = image_tag 'katsuo_avatar.png', :size =>'200x200'

      .pre-body
        %p
          ご存知の方もいらっしゃると思いますが、私たちは昨年12月より『
          = link_to 'KATSUOWEB', 'http://katsuoweb.com/', target: '_blank'
          』という動画配信アプリを運営しています。
        %p
          今までは、私たちが一方的に情報を発信してきましたが、
          やはりもっと多くの方々に、多種多様な情報を発信してもらいたい、
          そんな想いから、2018年10月10日、動画、写真、文章（テキスト）、
          地図など、マルチメディア対応のブログSNSアプリとしてリリースすることになりました。
        %p
          SNSと言っても、TwitterやFacebookのようなインスタントなものではなく、
          より完成度の高い記事を気軽にアップロードできるアプリです。
          %br
          ※ 新バージョンの詳細は、
          = link_to 'こちら', 'https://katsuoweb.world/about/', target: '_blank'
          をご参照ください。
        %p
          リリースに先駆けて、各方面で積極的に情報発信しご活躍されている皆様に、
          是非一足先にお使いいただきたいと思い、ご案内させていただきました。
        %p
          お時間のあるときで構いませんので、一度お試しいただいて、ご感想や、改善した方が良い点など、
          アドバイス頂けると嬉しいです。
        %p
          小規模チームで運営しているWebアプリなので、まだまだ未熟な部分があるかと思いますが、
          少しずつ改善しながら、情報発信を益々楽しめるようなアプリを目指したいと思います。
        %p
          今後の展開としては、Web版だけでなく、AndroidやiOS版のリリースを考えています。
        %p
          また、今のところは広告等も付けていないので、もちろん収益はありませんが、
          皆様が心を込めて書いた一つ一つの記事に対して、将来的には収益を得られる仕組みを実現させたいと考えています。
          %br
          （広告収入を分散させる、若しくは、仮想通貨を紐づけて投げ銭的な形など。 ← この辺りもアドバイス頂けると有り難いです。）
        %p
          もちろん本リリース後も引き続きご利用いただいて、KATSUO CREWとして一緒に盛り上げて頂けると幸いです。
        .pre-link
          = link_to 'KATSUOWEBへようこそ', 'https://katsuoweb.world/register/',
            class: "button", target: '_blank'
        .team
          KATSUOWEB 開発チーム

.footer
  %span
    © 2018 KATSUOWEB
