!!! 5
%html{ :lang => 'ja' }
  %head
    %meta{ :charset => 'utf-8' }

    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    %title KATSOWEB | 登録完了

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat+Alternates'}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    .top-bar
      .top-bar-left
        .home-link
          KATSUOWEB

    .grid-x
      .cell.small-12.medium-6.medium-offset-3
        .registered
          %h1.message
            KATSUOWEBへのご登録が完了しました！
          %p
            ご登録いただいたメールアドレスへ、ユーザー登録完了の通知メールを送信しました。
            %br
            メール本文中のリンクより、ログインしてください。

    .footer
      %span
        © 2018 KATSUOWEB
