!!! 5
%html{ :lang => 'ja' }
  %head
    %meta{ :charset => 'utf-8' }

    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    %title KATSOWEB | 登録完了

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat+Alternates'}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    .top-bar
      .top-bar-left
        .home-link
          KATSUOWEB

    .grid-x
      .cell.small-12.medium-6.medium-offset-3
        .registered

          - if response.status == 401
            %h1.message
              ユーザーが無効、もしくは既に認証済みです。
            %p
              認証が完了している方は、以下のリンクよりログインしてください。<br>
              = link_to 'ログイン', 'http://katsuoweb.com/', class: "button expanded"

          - else
            %h1.message
              ユーザーの認証に失敗しました。
            %p
              再度、ユーザー登録メールをご確認いただき、本文中のリンクをクリックしてください。

    .footer
      %span
        © 2018 KATSUOWEB
