.page-master {
  margin: 20px;
  h1 {
    text-align: center;
  }
  .card {
    margin: 30px 0;
  }
  .author {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .button {
    background-color: red;
    font-weight: bold;
    margin-top: 20px;
  }
}
