.login {
  margin: 20px;
  h1 {
    text-align: center;
  }
  .login-button {
    width: 100%;
    color: #dbdce7;
    background-color: #324460;
    padding: 10px 0;
    outline: none;
    &:hover {
      color: #324460;
      background-color: #dbdce7;
    }
  }
}
