= content_for :title do
  KATSOWEB | 管理者ホーム

.top-bar
  .top-bar-left
    = link_to 'KATSUOWEB', admin_home_path, class: "home-link"
  .top-bar-right
    - if @admin_user
      = link_to 'LOGOUT', admin_sign_out_path, method: :delete, class: "logout-link"

.grid-x
  .cell.small-12.medium-6.medium-offset-3
    .home
      %h1
        管理者ホーム

      = link_to 'ユーザーマスター', admin_users_path, class: "button expanded"
      = link_to 'ページマスター', admin_pages_path, class: "button expanded"
