@import "foundation_and_overrides";

.top-bar {
  background-color: #324460;
  height: 60px;
  box-shadow: 3px 5px 15px 5px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  .top-bar-left {
    .home-link {
      color: #dbdce7;
      font-size: 20px;
      font-weight: bold;
      margin-left: 20px;
    }
  }
  .top-bar-right {
    .logout-link {
      color: #dbdce7;
      margin-right: 20px;
    }
  }
}

#notice {
  color: red;
  background-color: #FFEBEE;
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  margin-top: 30px;
}

@import "admin/sessions";
@import "admin/home";
@import "admin/users";
@import "admin/pages";
@import "api/v1/users";
@import "api/v1/passwords";
@import "notice/release";
