= content_for :title do
  KATSOWEB | ユーザーマスター

.top-bar
  .top-bar-left
    = link_to 'KATSUOWEB', admin_home_path, class: "home-link"
  .top-bar-right
    - if @admin_user
      = link_to 'LOGOUT', admin_sign_out_path, method: :delete, class: "logout-link"

.grid-x
  .cell.small-12.medium-6.medium-offset-3
    .user-master
      %h1
        ユーザーマスター

      - if flash[:warning]
        #notice
          = flash[:warning]

      - if @users
        - @users.each do |user|
          .card
            .card-divider
              = user.name
            = image_tag user.avatar.url, width: "100%", height: "100%"
            .card-section
              = user.profile
              = link_to '削除', admin_user_path(user.id),
                { method: :delete, class: "button expanded",
                  data: { confirm: "本当に削除しますか？" } }
