!!! 5
%html{ :lang => 'ja' }
  %head
    %meta{ :charset => 'utf-8' }

    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    %title Googleアカウント認証 | KATSOWEB

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat+Alternates'}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    .top-bar
      .top-bar-left
        .home-link
          KATSUOWEB

    .grid-x
      .cell.small-12.medium-6.medium-offset-3
        .password
          %h1.message
            = @message

          %p
            エラーが発生しました。
            %br
            Googleアカウントをお確かめのうえ、再度お試しください。

    .footer
      %span
        © 2018 KATSUOWEB
