!!! 5
%html{ :lang => 'ja' }
  %head
    %meta{ :charset => 'utf-8' }

    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    %title KATSOWEB | パスワード再設定

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat+Alternates'}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    .top-bar
      .top-bar-left
        .home-link
          KATSUOWEB

    .grid-x
      .cell.small-12.medium-6.medium-offset-3
        .password
          %h1.message
            パスワード再設定

          %div
            = form_for(@user, url: api_v1_password_reset_path) do |f|
              = hidden_field_tag :email, @user.email
              = hidden_field_tag :token, params[:token]

              = f.label :password, '新しいパスワード：'
              = f.password_field :password

              = f.label :password_confirmation, '新しいパスワード再入力：'
              = f.password_field :password_confirmation

              = f.submit "パスワードを変更する", class: "submit-button"
              - if flash[:warning]
                #notice
                  = flash[:warning]

    .footer
      %span
        © 2018 KATSUOWEB
