!!! 5
%html{ :lang => 'ja' }
  %head
    %meta{ :charset => 'utf-8' }

    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat+Alternates'}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    = yield
